body {
  margin: 0;
  padding: 0; }

body * {
  box-sizing: border-box; }

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0;
  background-color: red;
  height: 12vh; }
  nav div.logo img {
    height: 12vh; }
  nav div.menu {
    display: flex;
    justify-content: center; }
    nav div.menu ul {
      display: flex;
      letter-spacing: 3px;
      padding: 0; }
      nav div.menu ul li {
        display: flex;
        list-style: none; }
        nav div.menu ul li a {
          color: lightgray;
          text-decoration: none;
          padding: .5rem .5rem;
          transition: 0.8s; }
          nav div.menu ul li a:hover {
            color: #454242;
            border-radius: 50%;
            transition: 0.8s; }
