$navbar-height: 16vh;

@media only screen and (max-width: 400px) {
    header {
        nav {
            div.menu {
				ul {
					li {
						a {
							font-size: large;
						}
					}
				}
			}
        }
    }
}

@media only screen and (max-width: 992px) and (min-width: 400.02px) {
    header {
        nav {
            div.menu {
				ul {
					li {
						a {
							font-size: xx-large;
						}
					}
				}
			}
        }
    }
}

@media only screen and (max-width: 992px) {
    header {
        nav {
            div.menu {
                align-items: flex-start;
                justify-content: center;
                position: absolute;
                height: calc(100vh - $navbar-height);
                top: $navbar-height;
                background-color: lightgray;
                left: -200%;
                transition: left .8s cubic-bezier(0, 0, 0.02, 1.03);
				&.alt {
					justify-content: center;
				}
                &.is-active {
                    left: 0;
                    transition: left .8s cubic-bezier(0, 0, 0.02, 1.03);
                }
                ul {
                    flex-direction: column;
                    z-index: 4;
                    &.categories {
                        height: 100%;
                        overflow-y: scroll;
                        flex-wrap: nowrap;
                    }
                    li {
                        margin: 3rem 0;
                        a {
                            letter-spacing: 5px;
                            color: black;
                            &:hover {
                                color: whitesmoke;
                                transition: 0.5s;
                            }
                        }
                    }
                }
            }
            div.mobile-hamburger {
                display: flex;
                width: 100%;
                justify-content: flex-end;
                padding-right: 2rem;
                button {
                    z-index: 5;
                }
            }
        }
    }
}

