$navbar-height: 16vh;

@media only screen and (max-width: 992px) {
    header {
        nav {
            div.menu {
                align-items: flex-start;
                justify-content: center;
                position: absolute;
                height: calc(100vh - 10vh);
                top: $navbar-height;
                background-color: lightgray;
                left: -200%;
                transition: left .8s cubic-bezier(0, 0, 0.02, 1.03);
                &.is-active {
                    left: 0;
                    transition: left .8s cubic-bezier(0, 0, 0.02, 1.03);
                }
                ul {
                    flex-direction: column;
                    z-index: 4;
                    li {
                        margin: 3rem 0;
                        a {
							font-size: xx-large;
                            letter-spacing: 5px;
                            color: black;
                            transition: 0.8s;
                            &:hover {
                                color: whitesmoke;
                                transition: 0.5s;
                            }
                        }
                    }
                }
            }
            div.mobile-hamburger {
                display: flex;
                width: 100%;
                justify-content: flex-end;
                padding: 4rem;
                button {
                    z-index: 5;
                }
            }
        }
    }
}
